h1 {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-2/pattern.jpeg");

    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: "white";}

h1, h2, h3, p {
    font-family: Helvetica;
}

#Brushes {
    background-color: mediumspringgreen;
}

#Frames {
    background-color: lightcoral;
}

#Paint {
    background-color: skyblue;
}
div p {
    font-weight: bold;
    color: blue;
}
